<div style="text-align: center;">
    <h1>Hi Forms Demo </h1>
    <form #userForm="ngForm">
        <div class="form-inline">
            <label>NAME <span style="color: red;" *ngIf="username.invalid">*</span> :  </label>
            <input type="text" class="form-control" name="username" required ngModel #username="ngModel"><br>
            <span *ngIf="username.invalid && username.touched"> Name is Requried ...!</span>
        </div>
    
        <div class="form-inline">
            <label>PASS <span style="color: red;" *ngIf="userpass.invalid">*</span> : </label>
            <input type="text" class="form-control" name="userpass" required ngModel #userpass="ngModel"><br>
            <span *ngIf="userpass.invalid && userpass.touched"> Pass  is Requried ...!</span>
        </div>
        
        <br>
        <input type="submit" value="LOGIN" class="btn btn-success">
        <input type="reset" value="Reset" class="btn btn-danger">
    
    </form>
</div>
<!-- 
    invalid
    valid 
    touched 
    untouched 
 -->


