<div [ngClass]="{'bdr':true,'bgclr':false}">
      <p>Learn from Global Experts & Get Certified by The World's Leading Universities. 
        Learn from Global Experts & Get Certified by The World's Leading Universities
        Learn from Global Experts & Get Certified by The World's Leading Universities
        Learn from Global Experts & Get Certified by The World's Leading Universities
        Learn from Global Experts & Get Certified by The World's Leading Universities
      </p>
</div>

<div [ngClass]="{'bdr':false,'bgclr':true}">
    <p>Learn from Global Experts & Get Certified by The World's Leading Universities. 
      Learn from Global Experts & Get Certified by The World's Leading Universities
      Learn from Global Experts & Get Certified by The World's Leading Universities
      Learn from Global Experts & Get Certified by The World's Leading Universities
      Learn from Global Experts & Get Certified by The World's Leading Universities
    </p>
</div>
<div  [ngClass]="{'bdr':true,'bgclr':true}">
    <p>Learn from Global Experts & Get Certified by The World's Leading Universities. 
      Learn from Global Experts & Get Certified by The World's Leading Universities
      Learn from Global Experts & Get Certified by The World's Leading Universities
      Learn from Global Experts & Get Certified by The World's Leading Universities
      Learn from Global Experts & Get Certified by The World's Leading Universities
    </p>
</div>
